<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demosite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OAuthServlet</display-name>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>com.baidu.demo.controller.OAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/oauthCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallBackServlet</display-name>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>com.baidu.demo.controller.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IframeDemo</display-name>
    <servlet-name>IframeDemo</servlet-name>
    <servlet-class>com.baidu.demo.controller.IframeDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IframeDemo</servlet-name>
    <url-pattern>/iframeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoggedInServlet</display-name>
    <servlet-name>UserLoggedInServlet</servlet-name>
    <servlet-class>com.baidu.demo.controller.UserLoggedInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoggedInServlet</servlet-name>
    <url-pattern>/loggedInUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.baidu.demo.controller.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServiceServlet</display-name>
    <servlet-name>UserServiceServlet</servlet-name>
    <servlet-class>com.baidu.demo.controller.UserServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServiceServlet</servlet-name>
    <url-pattern>/userService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.baidu.demo.controller.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>